{% extends 'base.html.twig' %}

{% block title %}Edit Banques{% endblock %}

{% block body %}
    <h1>Edit Banques</h1>

    {{ include('banques_controller2/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('banques_controller2_index') }}">back to list</a>

    {{ include('banques_controller2/_delete_form.html.twig') }}
{% endblock %}
