{% extends 'base.html.twig' %}

{% block title %}New Banques{% endblock %}

{% block body %}
    <h1>Create new Banques</h1>

    {{ include('banques_controller2/_form.html.twig') }}

    <a href="{{ path('banques_controller2_index') }}">back to list</a>
{% endblock %}
