<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <title>{% block title %}FindBanks{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/5/yeti/_bootswatch.scss">
        <link rel="stylesheet" href="https://bootswatch.com/5/yeti/bootstrap.css ">
        <link rel="icon" href="https://unsplash.com/photos/RHZYmxCTiuo">


      {# Run `composer require symfony/webpack-encore-bundle`
          and uncomment the following Encore helpers to start using Symfony UX #}
      {% block stylesheets %}
          {#{{ encore_entry_link_tags('app') }}#}
      {% endblock %}

      {% block javascripts %}
          {#{{ encore_entry_script_tags('app') }}#}
      {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
        <a class="navbar-brand" href="#">Find Banks</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse t" id="navbarColor01">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link active" href="/">Accueil
                <span class="visually-hidden">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:8000/api">APIs</a>
            </li>
          </ul>
            <div class="">
              <a class="text-white text-decoration-none btn btn-success">Admin</a>
            </div>
              <a class="nav-link" href="#">APIs</a>
            </li>
            </li>
          </ul>
          <form class="d-flex">
           <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-primary">Chercher</button>
            <div class="btn-group" role="group">
              <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
              <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="">
                <a class="dropdown-item" href="#">Dropdown link</a>
                <a class="dropdown-item" href="#">Dropdown link</a>
              </div>
            </div>
          </div>
          </form>
        </div>
      </div>
    </nav>
      {% block body %}
          
      {% endblock %}
  </body>
</html>
